:root {
    --tile-1: #EEEED2;
    --tile-2: #769656;
}

/* Html elements */
html, body {
    background: #fff;
    padding: 0;
    margin: 0;

    font-family: "Bebas neue", sans-serif;

    display: flex;
    justify-content: center;
        align-items: center;

    flex-direction: column;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Board */
.board {
    width: 75vmin;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    border: 0.2vmax black solid;
}.board > .row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    width: 100%;
    height: 100%;
}.board > .row > .tile {
    width: 100%;
    height: 100%;

    background: var(--tile-1);
    position: relative;
    display: flex;
    justify-content: center;
        align-items: center;
    
    box-sizing: border-box;
    padding: 1.5vmin;
    cursor: pointer;

}.board > .row > .tile::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(/static/assets/tile-overlay.svg);
    z-index: 1;
    transform: scale(1.1);
}.board > .row > .tile:hover {
    filter: brightness(90%);
    /* outline: 0.2vmax solid black; */
}.board > .row:nth-child(odd) > .tile:nth-child(odd), .board > .row:nth-child(even) > .tile:nth-child(even) {
    background: var(--tile-2);
}.board > .row:nth-child(odd) > .tile:nth-child(odd)::before, .board > .row:nth-child(even) > .tile:nth-child(even)::before {
    content: none;
}.board > .row > .tile > img.piece {
    width: 100%;
    height: 100%;

    user-select: none;
    pointer-events: none;
    z-index: 2;
}.board > .row > .tile.highlight {
    background: #b2df6c !important;
}.board > .row > .tile.highlight::before {
    background: url(/static/assets/tile-overlay-highlight.svg);
}.ghost-piece {
    position: absolute;
    width: 5rem;
    height: 5rem;

    pointer-events: none;
    user-select: none;

    left: 0;
    top: 0;

    z-index: 5;
    transform: translate(-50%, -50%);
}

/* Toast */
.toast-container {
    position: absolute;
    width: 50%;

    bottom: 0;
    display: inline-flex;
    gap: 1vmin;
    flex-direction: column-reverse;

    box-sizing: border-box;
    padding-bottom: 2vmin;
}.toast-container > .toast {
    width: 100%;
    height: 6vmin;

    background: white;
    border-radius: 1vmin;

    outline: 0.2vmin solid #ccc;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.05s ease-in-out;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 0 2vmin;
}.toast-container > .toast > .progress-bar {
    position: absolute;
    height: 0.5vmin;
    background: rgb(222, 133, 88);
    bottom: 0;
    left: 0;
    animation: progress 3s linear forwards;
}.toast-container > .toast:hover {
    background: #f7f7f7;
}

/* Keyframes */
@keyframes progress {
    from { width: 0%; }
    to { width: 100%; }
}
